@import '../../../_params';
@import '../../../_smart-grid';

:host {
}
.row {
  @include row-flex;
  justify-content: center;
  padding: 10px 0;
}
.cars {
  background: $cars-bg-color;
  

  &__filter {
    border-radius: 15px;
    background: $cars-filter-bg-color;
    @include col;
    @include size(2);
    @include md-block {
      display: none;
    }

    
  }
  &__list {
    @include col;
    @include size(10);
    flex: 1 1 auto;
  }
}