<div class="header">
  <div class="wrapper">
    <div class="contacts">
      <div class="contacts__logo">
        <img src="../../../../../assets/img/logo-s.png" alt="">
      </div>
      <div class="contacts__text">
        <p class="contacts__paragraph">
          <i class="fa fa-map-marker contacts__icon" aria-hidden="true"></i>
          <span>ул. Притыцкого, д. 60, корп. 5 </span>
        </p>
        <p class="contacts__paragraph">
          <i class="fa fa-clock-o contacts__icon" aria-hidden="true"></i>
          <span>с 9:00 до 20:00 ежедневно</span>
        </p>
      </div>
      <div class="contacts__phones">
        <p class="contacts__paragraph">
          <i class="fa fa-mobile contacts__icon" aria-hidden="true"></i>
          <a href="tel:+375296842020" class="contacts__phone">+375 (29) 684-20-20</a>
        </p>
        <p class="contacts__paragraph">
          <i class="fa fa-mobile contacts__icon" aria-hidden="true"></i>
          <a href="tel:+375336842020" class="contacts__phone">+375 (33) 684-20-20</a>
        </p>
      </div>
    </div>
    <nav class="navbar">
      <a class="navbar__brand" routerLink="">
        <i class="fa fa-car brand__icon" aria-hidden="true"></i>
        RentCar
      </a>
      <button class="navbar__toggler" crayfDropdown type="button" >
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
        <ul class="navbar__nav collapse-xs">
          <li class="nav__item">
            <a class="nav__link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/cars" routerLinkActive="active">Cars</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/contacts" routerLinkActive="active">Info</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" routerLink="/contacts" routerLinkActive="active">Contacts</a>
          </li>
          <li *ngIf="isAdmin" class="nav__item">
            <a class="nav__link" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
          <li class="nav__item auth"
          *ngIf="auth.user | async; else guest">
          <a class="nav__link" (click)="auth.signOut()">
            Log out
          </a>
        </li>
        <ng-template #guest>
          <li class="nav__item auth">
            <a class="nav__link" crayfDropdown>
              Sign in
            </a>
            <div class="dropdown collapse">
              <div class="dropdown__list">
                <a class="dropdown__link" (click)="auth.googleLogin()">
                  <i class="fa fa-google link__icon" aria-hidden="true"></i>
                </a>
                <a class="dropdown__link" >
                  <i class="fa fa-facebook-square link__icon" aria-hidden="true"></i>
                </a>
                <a class="dropdown__link" >
                  <i class="fa fa-github link__icon" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </li>
          <li class="nav__item">
            <a class="nav__link">Sign up</a>
          </li>
        </ng-template>
        </ul>
        <!-- <crayf-auth></crayf-auth> -->
    </nav>
  </div>
</div>




