<aside class="sidebar">
  <a routerLink="/" 
    class="sidebar__link">
      <i class="fa fa-sitemap sidebar__icon"></i>
      Open client
  </a>
  <a routerLink="dashboard" routerLinkActive="active"
    class="sidebar__link">
      <i class="fa fa-dashboard sidebar__icon" ></i>
      Dashboard
  </a>
  <a routerLink="add-car" routerLinkActive="active"
    class="sidebar__link">
      <i class="fa fa-plus-square sidebar__icon"></i>
      Add car
  </a>
  <a routerLink="cars" routerLinkActive="active"
    class="sidebar__link">
      <i class="fa fa-edit sidebar__icon" ></i>
      Cars list
  </a>
</aside>


