<fieldset [formGroup]="customCarForm">

  <div class="form__group">
    <label class="form__label" for="isNew">
      Новая:
    </label>
    <input formControlName="isNew" class="form__control" type="checkbox" name="isNew" id="isNew">
  </div>
  <div class="form__group">
    <label class="form__label" for="isAirConditioning">
      Кондиционер:
    </label>
    <input formControlName="isAirConditioning" class="form__control" type="checkbox" name="isAirConditioning" id="isAirConditioning">
  </div>
  <div class="form__group">
    <label class="form__label" for="isSale">
      Скидка:
    </label>
    <input formControlName="isSale" #isSale class="form__control" type="checkbox" name="isSale" id="isSale">
  </div>
  <div class="form__group" *ngIf="isSale.checked">
    <label class="form__label" for="saleAmount">
      Величина скидки %:
    </label>
    <input formControlName="saleAmount" class="form__control" type="text" name="saleAmount" id="saleAmount">
  </div>
  <div formArrayName="rentPrice">
    <h3 class="form__group">Стоимость аренды:</h3>
    <button *ngIf="!this.customCarForm.controls['rentPrice'].controls.length"
    class="btn btn_submit" (click)="addNewRentPriceRow(0)">Add price</button>
    <div class="form__array" *ngFor="let itemrow of customCarForm.controls['rentPrice'].controls; let i=index"  [formGroupName]="i">
      <div class="array__content">

        <div class="form__group">
          <label class="form__label" for="duration">
            Продолжительность:
          </label>
          <input formControlName="duration" class="form__control" type="text" name="duration" id="duration">
        </div>
        <div class="form__group">
          <label class="form__label" for="price">
            Цена:
          </label>
          <input formControlName="price" class="form__control" type="text" name="price" id="price">
        </div>
      </div>
      <div class="array__btn">
        <button class="btn btn_reset" (click)="deleteRentPriceRow(i)">х</button>
        <button class="btn btn_submit" (click)="addNewRentPriceRow(i+1)">+</button>
      </div>
    </div>
  </div>
  <div class="car-images">
    <h3 class="car-images__heading">Загрузите фото автомобиля:</h3>
    <div class="car-images__row">
      <div class="car-images__preview"
      *ngFor="let src of previewImageSrc; let i=index">
        <img class="car-images__img"
        [src]="src"
        >

        <button class="btn btn_reset car-images__delete"
        (click)="deleteImage(i)">х</button>
        <button class="btn car-images__default"
        (click)="setAsDefault($event)">v</button>
      </div>
      <div class="car-images__group">
        <label class="car-images__btn btn_submit"
              for="image">
          +Add photo
        </label>
        <input type="file" name="image"
                id="image" class="car-images__input"
                (change)="onFileAdd($event)" multiple>
      </div>
    </div>
  </div>
  <div class="form__group">
    <label class="form__label">
      Дополнительная информация:
    </label>
    <textarea class="form__control form__control_textarea" formControlName="additionalInfo" name="additionalInfo">
      Напишите дополнительные данные
    </textarea>
  </div>
</fieldset>

