<fieldset [formGroup]="mainCarForm"
(change)="onChange($event.target)">
  <ng-container *ngFor="let param of mainCarFormParams; let i = index">
    <div *ngIf="param.isShow"
          class="form__group">
      <label class="form__label" for="{{param.name}}">
        {{param.label}}
      </label>
      <select class="form__control"
              formControlName="{{param.name}}"
              name="{{param.name}}"
              id="{{param.name}}"
              
              >
        <option value="">{{param.placeholder}}</option>
        <option *ngFor="let option of param.optionsList"
                value="{{option}}">
          {{option}}
        </option>
      </select>
    </div>
  </ng-container>
</fieldset>

