// Colors
$color-primary: rgb(52, 197, 223);
$color-secondary:  rgb(100, 223, 52);
$header-bg-color: $color-primary;
$header-color: white;
$cars-bg-color: white;
$cars-filter-bg-color: $color-secondary;


// 