<form  class="form" novalidate
[formGroup]="carForm" 
*ngIf="!isShowPageLoader">
  <fieldset formGroupName="main">
    <ng-container *ngFor="let param of mainCarFormParams; let i = index">
      <div *ngIf="param.optionsList || param.value"
            class="form__group">
        <label class="form__label" for="{{param.name}}">
          {{param.label}}
        </label>
        <select class="form__control"
                formControlName="{{param.name}}"
                name="{{param.name}}"
                id="{{param.name}}"
                (change)="onMainFormChange(param)"
                >
          <option [value]="null">{{param.placeholder}}</option>
          <option *ngFor="let option of param.optionsList"
                  value="{{option}}">
            {{option}}
          </option>
        </select>
      </div>
    </ng-container>
  </fieldset>
  <div class="loader" *ngIf="isShowSelectLoader">
    <img src="../../../assets/img/loader.gif">
  </div>
  <fieldset formGroupName="api" *ngIf="mainCarForm.valid">
    <ng-container *ngFor="let param of apiCarFormParams; let i = index">
      <div 
            class="form__group">
        <label class="form__label" for="{{param.name}}">
          {{param.label}}
        </label>
        <input formControlName="{{param.name}}" class="form__control" type="text" name="{{param.name}}" id="{{param.name}}"
          placeholder="{{param.placeholder}}">
      </div>
    </ng-container>
  </fieldset>

  <fieldset formGroupName="custom"
  *ngIf="mainCarForm.valid && apiCarForm.valid">
    <div class="form__group">
      <label class="form__label" for="isAirConditioning">
        Кондиционер:
      </label>
      <input formControlName="isAirConditioning" class="form__control" type="checkbox" name="isAirConditioning" id="isAirConditioning">
    </div>
    <div class="form__group">
      <label class="form__label" for="isSale">
        Скидка:
      </label>
      <input formControlName="isSale" #isSale class="form__control" type="checkbox" name="isSale" id="isSale">
    </div>
    <div class="form__group" *ngIf="isSale.checked">
      <label class="form__label" for="saleAmount">
        Величина скидки %:
      </label>
      <input formControlName="saleAmount" class="form__control" type="text" name="saleAmount" id="saleAmount">
    </div>
<!--     <div formArrayName="rentPrice">
      <h3 class="form__group">Стоимость аренды:</h3>
      <button *ngIf="!this.customCarForm.controls['rentPrice'].controls.length"
      class="btn btn_submit" (click)="addNewRentPriceRow(0)">Add price</button>
      <div class="form__array" *ngFor="let itemrow of customCarForm.controls['rentPrice'].controls; let i=index"  [formGroupName]="i">
        <div class="array__content">
  
          <div class="form__group">
            <label class="form__label" for="duration">
              Продолжительность:
            </label>
            <input formControlName="duration" class="form__control" type="text" name="duration" id="duration">
          </div>
          <div class="form__group">
            <label class="form__label" for="price">
              Цена:
            </label>
            <input formControlName="price" class="form__control" type="text" name="price" id="price">
          </div>
        </div>
        <div class="array__btn">
          <button class="btn btn_reset" (click)="deleteRentPriceRow(i)">х</button>
          <button class="btn btn_submit" (click)="addNewRentPriceRow(i+1)">+</button>
        </div>
      </div>
    </div> -->
    <h3 class="car-images__heading">Загрузите фото автомобиля:</h3>
    <crayf-preview-images [carImgList]="carImgList" *ngIf="carImgList">
    
    </crayf-preview-images>
    <div class="car-images__group">
      <label class="car-images__btn btn_submit" for="image">
        +Add photo
      </label>
      <input type="file" name="image" id="image" class="car-images__input" multiple
      (change)="addImages($event.target)">
    </div>
    <div class="form__group">
      <label class="form__label">
        Дополнительная информация:
      </label>
      <textarea class="form__control form__control_textarea" formControlName="additionalInfo" name="additionalInfo">
        Напишите дополнительные данные
      </textarea>
    </div>
  </fieldset>
  <div class="form__btn">
      <button class="btn btn_submit" type="submit" 
      (click)="onSubmit()"
      *ngIf="carForm.valid"
      >
        Сохранить
      </button>
      <button class="btn btn_reset" (click)="onReset()"
      *ngIf="mainCarForm.controls['year'].value">
        Сбросить форму
      </button>
    </div>
</form>
<div class="loader" *ngIf="isShowPageLoader">
  <img src="../../../assets/img/loader.gif">
  <img src="../../../assets/img/loader.gif">
</div>
  
  
  <!-- <crayf-main-form  [currentCar]="mainCar"
  (onMainCarFormChange) = "onMainCarFormChange($event)"></crayf-main-form>
  <crayf-api-form *ngIf="isShowApiForm"
  [currentCar]="apiCar"
  (onApiCarFormChange) = "onApiCarFormChange($event)"
  ></crayf-api-form>
  <crayf-custom-form 
  (onCustomCarFormChange) = "onCustomCarFormChange($event)"
  *ngIf="isShowCustomForm">
  </crayf-custom-form>
  <div class="form__btn" *ngIf="isCarFormValid">
    <button class="btn btn_submit" type="submit" (click)="onSubmit()">
      Сохранить
    </button>
    <button class="btn btn_reset" (click)="onReset()">
      Сбросить форму
    </button>
  </div> -->