<form class="form" novalidate (ngSubmit)="onSubmit()" [formGroup]="carForm">
  <crayf-main-car-form (onMainCarFormValid)="onMainCarFormValid($event)"></crayf-main-car-form>

  <crayf-api-car-form *ngIf="mainCarForm?.valid" [carApiParams]="carApiParams" (onApiCarFormValid)="onApiCarFormValid($event)"></crayf-api-car-form>
  <crayf-custom-car-form *ngIf="mainCarForm?.valid" (onCustomCarFormValid)="onCustomCarFormValid($event)"></crayf-custom-car-form>
  <div class="form__btn" *ngIf="mainCarForm?.valid">
    <button class="btn btn_submit" type="submit" [disabled]="!carForm.valid">
      Сохранить
    </button>
    <button class="btn btn_reset" type="reset" (click)="onReset()">
      Сбросить форму
    </button>
  </div>
</form>
<pre>
  {{carForm.valid}}
  {{carForm.value | json}}
</pre>
